:root {
  --primary-text: #262626;
  --secondary-text: #908e8e;
  --primary-bg: #edf2f7;
  --secondary-bg: #f7fafc;
}
body {
  background: var(--primary-bg);
}
.payment-form-container {
  width: 530px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 7px -3px grey;
  background-color: #ffffff;
  overflow: hidden;
}
.form-header {
  background: var(--primary-text);
  display: flex;
  color: white;
  justify-content: space-between;
  font-weight: 600;
  padding: 22px;
}
.form-header .form-title {
  font-size: 18px;
}
.form-header .close-icon {
  cursor: pointer;
}
.form-content {
  /* background-color: orange; */
}
.form-content {
  padding: 10px 20px 25px;
}
.form-btns {
  padding: 18px 20px;
}

.highlight-title {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 10px 0;
  color: var(--primary-text);
}

.user-info {
  background: #f7fafc;
  border-radius: 10px;
  padding: 15px 20px;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  align-items: center;
}
.user-info .user-img {
  background: #edf2f7;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  width: 50px;
  border-radius: 50%;
  font-size: 22px;
  font-weight: 600;
}
.user-details {
  margin: 0 0 0 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.user-details .user-name {
  font-size: 18px;
  font-weight: 600;
}
.user-bio .user-cel {
  font-size: 11px;
  color: var(--secondary-text);
  margin-top: 6px;
  font-weight: 400;
}
.user-logout-btn {
  background: var(--primary-bg);
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
}
.user-selected-service {
  display: flex;
  border: 1px solid rgb(224, 224, 224);
  padding: 20px;
  border-radius: 10px;
}
.service-info {
  display: flex;
  width: 100%;
  margin: 0 0 0 15px;
  justify-content: space-between;
}
.form-content > * {
  margin: 15px 0 0 0;
}
.service-details .service-name {
  font-size: 14px;
}
.service-fee {
  font-size: 14px;
  color: var(--primary-text);
  font-weight: 700;
}
.service-img {
  width: 55px;
  display: flex;
  align-items: center;
}
.service-img img {
  width: 100%;
  border-radius: 8px;
}
.service-more-details {
  font-size: 14px;
  margin: 10px 0 0 0;
}
.service-name {
  font-weight: 600;
}
.service-detail .service-detail-icon {
  font-size: 11px;
  color: grey;
  width: 17px;
  display: inline-block;
}
.service-detail .service-detail-name {
  font-size: 11px;
  color: var(--secondary-text);
}
.user-input-section {
  display: flex;
  flex-direction: column;
}
.user-input-section input {
  padding: 13px 10px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 7px;
  outline: none;
}
.form-btns {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bababa;
}
.form-btns div {
  font-size: 13px;
  padding: 10px 30px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.form-btns div.previous-btn:hover {
  color: #1e21ff;
}
.form-btns div.next-btn {
  background: #1e21ff;
  color: white;
}
.form-btns div.next-btn:hover {
  color: #1e21ff;
  border-color: #1e21ff;
  background: white;
}
.form-radio-title {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  color: var(--primary-text);
}
.form-radio-btns {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.form-radio-btns label {
  background: #edf2f7;
  display: block;
  text-align: center;
  padding: 13px 10px;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  width: 32%;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  user-select: none;
}
.form-radio-btns label input {
  position: absolute;
  opacity: 0;
}

.form-radio-btns label:has(:checked) {
  border-color: #171717;
  background: white;
}
.checkbox-text {
  display: flex;
  align-items: center;
}
.checkbox-text label {
  font-size: 13px;
  margin: 0 0 0 10px;
  user-select: none;
  font-weight: 500;
  color: var(--secondary-text);
}
.checkbox-text a {
  color: #1e21ff;
  transition: all 0.3s ease;
}
.checkbox-text a:hover {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .payment-form-container {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .form-radio-btns {
    flex-wrap: wrap;
  }
  .form-radio-title {
    /* margin-bottom: 0; */
  }
  .form-radio-btns {
    margin: 0 0 20px;
  }
  .form-radio-btns > label {
    min-width: 150px;
    width: 48%;
    margin: 10px 0 000 0;
  }
}
@media screen and (max-width: 450px) {
  .service-info {
    flex-direction: column;
  }
  .service-fee {
    margin: 8px 0 0 0;
  }
}
@media screen and (max-width: 400px) {
  .form-radio-btns {
    flex-direction: column;
  }
  .form-radio-btns > label {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .user-details {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 330px) {
  .user-logout-btn {
  }
  .user-info {
    flex-direction: column;
  }
  .user-details {
    margin: 20px 0 000 0;
  }
  .user-logout-btn {
    margin: 10px 0 0 0;
  }
  .user-selected-service {
    flex-direction: column;
    align-items: center;
  }
  .service-info {
    margin: 10px 0 0 0;
  }
}
